为 HTTP 报头设计一种二进制不可逆编码

<img width="100%" src="https://user-images.githubusercontent.com/32428655/66653328-56e44600-ec6a-11e9-9c5e-ca042523d6b2.png" />

> The cover was photoed by [AbsolutVision](https://unsplash.com/@freegraphictoday?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText) on [Unsplash](https://unsplash.com/s/photos/newspaper?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText).

使用 HTTP 协议进行数据交互的过程中，经常需要在报头中携带校验信息，例如 Content-MD5 校验报文主体，以及自定义字段传输哈希签名进行身份认证等等。此类仅用于校验的哈希通常会被编码成十六进制字符串置于报头中传输，如果报头中包含的此类信息占据整个报文的比例较高，则需要考虑十六进制编码造成的带宽浪费是否足以忽略。

首先需要确定 HTTP 协议中，报头允许传输的字符集。引用 [RFC 7230 - Hypertext Transfer Protocol (HTTP/1.1): Message Syntax and Routing # 3.2](https://tools.ietf.org/html/rfc7230#section-3.2) 的内容，报头的值仅允许包含 VCHAR 可见的 US-ASCII 字符，并且不能以空格开头：

```
3.2.  Header Fields

   Each header field consists of a case-insensitive field name followed
   by a colon (":"), optional leading whitespace, the field value, and
   optional trailing whitespace.
     header-field   = field-name ":" OWS field-value OWS

     field-name     = token
     field-value    = *( field-content / obs-fold )
     field-content  = field-vchar [ 1*( SP / HTAB ) field-vchar ]
     field-vchar    = VCHAR / obs-text

     obs-fold       = CRLF 1*( SP / HTAB )
                    ; obsolete line folding
                    ; see Section 3.2.4

   The field-name token labels the corresponding field-value as having
   the semantics defined by that header field.  For example, the Date
   header field is defined in Section 7.1.1.2 of [RFC7231] as containing
   the origination timestamp for the message in which it appears.
```

而早期 [RFC 2068 - Hypertext Transfer Protocol -- HTTP/1.1 # 4.2](https://tools.ietf.org/html/rfc2068#section-4.2) 定义的报头则允许传输除 CTLs 控制字符外的任意 OCTET 八位数据序列，即二进制的 `0b00100000` ~ `0b01111110` 与 `0b10000000` ~ `0b11111111` ，并且允许空格开头，但需要在起始与结尾处添加双引号 `"` ：

```
          field-value    = *( field-content | LWS )
          field-content  = <the OCTETs making up the field-value
                           and consisting of either *TEXT or combinations
                           of token, tspecials, and quoted-string>
```

并且目前主流浏览器与相关依赖库均支持 RFC 2068 报头字符集，但并不支持 quoted-string ，也就是说报头值开头的空格将被忽略。

接下来需要确定 HTTP 传输所使用的数据序列。根据 RFC 2068 ，HTTP 似乎采用了八位数据序列，但 RFC 7230 采取的可见 US-ASCII 字符集仅使用了七位数据序列。用实践检验：

```bash
curl "https://www.yuque.com" -X HEAD -H "x-test: a" -w '%{size_request}'
# 87
curl "https://www.yuque.com" -X HEAD -H "x-test: ÿ" -w '%{size_request}'
# 88
```

字符 `ÿ` Unicode 编码为 `0b11111111` ，字符 `a` Unicode 编码为 `0b01100001` ，以上两次请求表明超过七位的 `0b11111111` 被分割成 2 Byte 数据传输，由此可以确定 HTTP 在实现上采用了七位数据序列。

接下来回到原来的问题：十六进制编码的空间利用率为 4 bit / 7 bit = 12.5%，Base64 编码的平均空间利用率为 (3 * 8 bit) / (4 * 7 bit) = 85.7%，显然 Base64 更节省空间，这两种编码均可逆。当然除空格外 VCHAR 字符集成员有 94 位，采用合适的编码映射在保留可逆特性的同时空间利用率会更高，但作为可逆编码的一种，存在感与通用性太低。

与可逆编码相对的则是不可逆编码（本文笔者自行推导的定义，不一定是已存在的通用定义），即源数据与编码数据之间只能单向流动，无法由编码数据获得源数据；源数据 chunk 序列块与编码数据序列块之间存在满射而不存在双射。对于仅用于校验的哈希，采用不可逆编码在不对数据本身功用造成显著影响的同时可以实现最大化空间利用率，提升传输效率。前文已经得出结论，HTTP 报头值传输过程的数据序列块集为 `0b0100000` ~ `0b1111110` ，可选取此集合去除 SP[32] 空格后的 `0b0100001` ~ `0b1111110` 为编码序列块集。接下来只需要再创建一个简单的数据序列块映射即可：

```c
char irreversible_map(char chunk)
{
  chunk &= 0b1111111;
  if (chunk < 0b0100001) return chunk | 0b1000000;
  if (chunk > 0b1111110) return chunk & 0b0111111;
  return chunk;
}
```

- 小于 `0b0100001` 第七位改为 `1` <br />
- 大于 `0b1111110` 仅取后 6 位

此编码命名为 Binary-to-text Irreversible Encoding，缩写 BIE94 ，收录在 Act Auth 规范中发布。

> act-auth/act-auth/issues/1
